<block name="footer">
<div class="bottom">
    <div class="w1200">
        <div class="bot_1">
            <ul>
                <li class="li_1">关于我们</li>
            <volist name="channel_info" id="v1">
                <li><a href="{$v1.url|get_nav_url}">{$v1.title}</a></li>
            </volist>
            </ul>
            <ul>
                <li class="li_1">联系我们</li>
                <volist name="phone_info" id="v3">
                <li><a href="{$v3.url|get_nav_url}">{$v3.title}</a></li>
                </volist>
            </ul>
            <ul>
                <li class="li_1">新闻资讯</li>
                <volist name="news_info" id="v2">
                <li><a href="{$v2.url|get_nav_url}">{$v2.title}</a></li>
                </volist>
            </ul>

            <div class="clear"></div>
        </div>
        <div class="bot_2">
        <volist name="erimg" id="img">
            <div class="div1 fl">
                <img src="{$img.cover_id|get_cover=###,path}" alt="">
                <p>{$img.title}</p>
            </div>
    </volist>
            <div class="clear"></div>
        </div>
        <div class="bot_3">
            <h2>{$phones.title}</h2>
            <p>{$phones.miansh}</p>
            <p>{$phones.time}</p>
        </div>
        <div class="clear"></div>
        <div class="yqlj_div">
            <div class="div1 fl">友情链接 :</div>
            <div class="div2 fl">
            <volist name="links" id="lis">
                <a href="{$lis.links}">{$lis.title}</a>
            </volist>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="bottom1">
    <div class="w1200">
        <p class="fl">{:C('WEB_SITE_ICP')}</p>
        <p class="fr"><a href="">二手车出售</a><em>|</em><a href="">二手车求购</a></p>
    </div>
</div>
</block>