<div class="bottom">
    <div class="w1200">
        <div class="bot_1">
            <ul>
                <li class="li_1">关于我们</li>
                <li><a href="">公司介绍</a></li>
                <li><a href="">公司荣誉</a></li>
                <li><a href="">加入我们</a></li>
            </ul>
            <ul>
                <li class="li_1">联系我们</li>
                <li><a href="">联系电话</a></li>
            </ul>
            <ul>
                <li class="li_1">新闻资讯</li>
                <li><a href="">公司新闻</a></li>
                <li><a href="">行业新闻</a></li>
            </ul>

            <div class="clear"></div>
        </div>
        <div class="bot_2">
            <div class="div1 fl">
                <img src="__IMG__/ewm.jpg" alt="">
                <p>关注微信公众号</p>
            </div>
            <div class="div1 fr">
                <img src="__IMG__/ewm.jpg" alt="">
                <p>关注一哥车业手机版</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="bot_3">
            <h2>0755-36631111</h2>
            <p>免费咨询(咨询、建议、投诉)</p>
            <p>周一至周六 9:00-19:00</p>
        </div>
        <div class="clear"></div>
        <div class="yqlj_div">
            <div class="div1 fl">友情链接 :</div>
            <div class="div2 fl">
                <a href="">深圳二手车</a>
                <a href="">深圳人才网</a>
                <a href="">深圳二手车</a>
                <a href="">深圳写字楼</a>
                <a href="">深圳二手车估价</a>
                <a href="">西游车展</a>
                <a href="">深圳二手车</a>
                <a href="">跟谁学深圳站</a>
                <a href="">深圳汽车网</a>
                <a href="">深圳家政</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="bottom1">
    <div class="w1200">
        <p class="fl">{:C('WEB_SITE_ICP')}</p>
        <p class="fr"><a href="">二手车出售</a><em>|</em><a href="">二手车求购</a></p>
    </div>
</div>
