<block name="header">
<div class="head w1200">
        <ul>
            <li class="li1"><a href="index.php"><img src="__IMG__/logo.png" alt=""></a></li>
            <li class="li2">
                <div class="nice-select" name="nice-select">
                    <input type="text" value="深圳" readonly>
                    <ul>
                        <li data-value="1">深圳</li>
                        <li data-value="2">广州</li>
                        <li data-value="3">上海</li>
                        <li data-value="4">北京</li>
                    </ul>
                </div>
                <script>
                    $('[name="nice-select"]').click(function(e){
                        $('[name="nice-select"]').find('ul').hide();
                        $(this).find('ul').show();
                        e.stopPropagation();
                    });
                    $('[name="nice-select"] li').hover(function(e){
                        $(this).toggleClass('on');
                        e.stopPropagation();
                    });
                    $('[name="nice-select"] li').click(function(e){
                        var val = $(this).text();
                        $(this).parents('[name="nice-select"]').find('input').val(val);
                        $('[name="nice-select"] ul').hide();
                        e.stopPropagation();
                    });
                    $(document).click(function(){
                        $('[name="nice-select"] ul').hide();
                    });
                </script>
            </li>
            <li class="li3">
                <div class="inp_div">
                    <form action="{:U('Sell/index')}" method="post">
                        <input type="text" name="keyword" class="inp_1 fl" placeholder="请输入您想要的车" value="{$keyword}">
                        <input type="submit" name="" class="inp_anv fr" value="">
                    </form>
                    <div class="clear"></div>
                </div>
                <p class="p1">
                <volist name="hot_brand_list" id="val">
                    <a href="{:U('Sell/index',array('brand_id'=>$val['id']))}">{$val.title}</a>
                    </volist>
                    
                </p>
            </li>
            <li class="li4">
                <a href="">手机版
                    <div class="div_poa">
                        <img src="__IMG__/head_ewm.png" alt="">
                    </div>
                </a>
            </li>
            <li class="li5">0755-36631111</li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="navigation">
        <div class="w1200">
            <div class="daoh_1 fl">
                <ul>
                <think:nav name="nav" tree="tree">
                          <?php
                    $daoh = split('/',$nav['url']);
                ?>
                    <eq name="nav.pid" value="0">
                        <li><a  href="{$nav.url|get_nav_url}" <if condition="$daoh[0] eq CONTROLLER_NAME">class="a1"</if>>{$nav.title}</a></li>
                    </eq>
                </think:nav>

                </ul>
                <div class="clear"></div>
            </div>
            <div class="daoh_2 fr">
                <ul>
                    <if condition="$user eq null ">
                        <li><a class="a1" href="{:U('User/login')}">登录</a></li>
                    <else />
                         <li><a class="a1" href="{:U('User/logout')}">退出</a></li>
                    </if>

                    <li><a href="{:U('User/register')}">注册</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    </block>
