<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>一哥车业</title>
<meta name="keywords" content="wsg,hth">
<meta name="description" content="ASW">       
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<meta name="keywords" content="一哥车业">
<Meta name="description" Content="一哥车业">
<link href="css/css.css" rel="stylesheet" type="text/css">
<link href="css/selectpick/cui.css" rel="stylesheet" type="text/css"><!--美化下拉框插件-->
<script src="js/jquery.js"></script><!-- 统一调用js -->
<link href="css/banner-switch/lrtk.css" rel="stylesheet"><!-- banner切换 -->
<script src="js/banner-switch/jquery.superslide.2.1.1.js"></script><!-- banner切换 -->
<link href="css/SuperSlide/style.css" rel="stylesheet"><!--标签切换，滚动 -->
<link rel="stylesheet" href="css/Validform/style.css" type="text/css" media="all" /><!-- 13.0 表单提交验证 -->
<link href="css/Validform/demo.css" type="text/css" rel="stylesheet" /><!-- 13.0 表单提交验证 -->
<script type="text/javascript" src="css/Validform/js/Validform_v5.3.2_min.js"></script><!-- 13.0 表单提交验证 -->
<script type="text/javascript" src="css/Validform/plugin/passwordStrength/passwordStrength-min.js"></script><!-- 13.0 表单提交验证 -->
<link href="css/fxk.css" rel="stylesheet" type="text/css"><!-- 表单美化 -->
</head>


<body>
	<!--top-->	
	<?php require_once('gr_top.php'); ?>
	<!--top end-->

	
	<div class="sign_center">
		<div class="w1200 personal_div">
			<div class="w200 fl">
				<ul>
					<li class="li1">个人中心</li>
					<li><a class="a1" href="user_personal.php">个人信息</a></li>
					<li><a class="a2" href="user_business.php">商家认证</a></li>
					<li><a class="a3" href="user_news.php">我的消息</a></li>
					<li class="li_dq"><a class="a4" href="user_system.php">系统消息</a></li>
					<li class="li2">
						<p class="p1">客服热线</p>
						<p class="p2">0755-36631111</p>
					</li>
				</ul>	
			</div>
			<div class="w970 fr">
				<div class="div1"><h2>系统消息</h2></div>
				<div class="div2">
					<form action="" method="post">
                	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="user_news_ta">
					  <tr>
					    <th width="15%">发件人</th>
					    <th width="55%">内容</th>
					    <th width="20%">发布时间</th>
					    <th align="right" width="10%"></th>
					  </tr>
					  <tr>
					  	<td class="td1"><p>管理员</p></td>
					  	<td class="td1"><p>您发布的求购消息已过期</p></td>
					  	<td class="td1">2015-06-27 14:50</td>
					  	<td class="td2"><a href="">删除</a></td>
					  </tr>
					  <tr>
					  	<td class="td1"><p>管理员</p></td>
					  	<td class="td1"><p>您发布的求购消息已过期</p></td>
					  	<td class="td1">2015-06-27 14:50</td>
					  	<td class="td2"><a href="">删除</a></td>
					  </tr>
					  <tr>
					  	<td class="td1"><p>管理员</p></td>
					  	<td class="td1"><p>您发布的求购消息已过期</p></td>
					  	<td class="td1">2015-06-27 14:50</td>
					  	<td class="td2"><a href="">删除</a></td>
					  </tr>
					  <tr>
					  	<td class="td1"><p>管理员</p></td>
					  	<td class="td1"><p>您发布的求购消息已过期</p></td>
					  	<td class="td1">2015-06-27 14:50</td>
					  	<td class="td2"><a href="">删除</a></td>
					  </tr>
					  <tr>
					  	<td class="td1"><p>管理员</p></td>
					  	<td class="td1"><p>您发布的求购消息已过期</p></td>
					  	<td class="td1">2015-06-27 14:50</td>
					  	<td class="td2"><a href="">删除</a></td>
					  </tr>					 
					</table>
					<div class="blank30"></div>
					<?php require_once('paging.php'); ?>
                    </form>

                </div>
                <div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
			<script>
				$('[name="nice-select"]').click(function(e){
				    $('[name="nice-select"]').find('ul').hide();
				    $(this).find('ul').show();
					e.stopPropagation();
				});
				$('[name="nice-select"] li').hover(function(e){
					$(this).toggleClass('on');
					e.stopPropagation();
				});
				$('[name="nice-select"] li').click(function(e){
					var val = $(this).text();
					$(this).parents('[name="nice-select"]').find('input').val(val);
					$('[name="nice-select"] ul').hide();
					e.stopPropagation();
				});
				$(document).click(function(){
					$('[name="nice-select"] ul').hide();
				});
			</script>


	<?php require_once('bottom.php'); ?>
</body>
</html>