<extend name="Base/common" />
<block name="head">
      <meta charset="utf-8">
      <title>一哥车业</title>
      <meta name="keywords" content="wsg,hth">
      <meta name="description" content="ASW">
      <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="keywords" content="一哥车业">
      <Meta name="description" Content="一哥车业">
      <link href="__CSS__/css.css" rel="stylesheet" type="text/css">
      <link href="__CSS__/selectpick/cui.css" rel="stylesheet" type="text/css"><!--美化下拉框插件-->
      <script src="__JS__/jquery.js"></script><!-- 统一调用js -->
      <link href="__CSS__/banner-switch/lrtk.css" rel="stylesheet"><!-- banner切换 -->
      <script src="__JS__/banner-switch/jquery.superslide.2.1.1.js"></script><!-- banner切换 -->
      <link href="__CSS__/SuperSlide/style.css" rel="stylesheet"><!--标签切换，滚动 -->
      <link rel="stylesheet" href="__CSS__/Validform/style.css" type="text/css" media="all" /><!-- 13.0 表单提交验证 -->
      <link href="__CSS__/Validform/demo.css" type="text/css" rel="stylesheet" /><!-- 13.0 表单提交验证 -->
     <!--  <script type="text/javascript" src="css/Validform/js/Validform_v5.3.2_min.js"></script> --><!-- 13.0 表单提交验证 -->
      <script type="text/javascript" src="__CSS__/Validform/plugin/passwordStrength/passwordStrength-min.js"></script><!-- 13.0 表单提交验证 -->
      <link href="__CSS__/fxk.css" rel="stylesheet" type="text/css"><!-- 表单美化 -->
</block>

<block name="body">
	<div class="sign_center">
		<div class="w1200 personal_div">
			<div class="w200 fl">
				<ul>
					<li class="li1">个人中心</li>
					<li class="li_dq"><a class="a1" href="{:U('User/personal')}">个人信息</a></li>
					<li><a class="a2" href="{:U('User/business')}">商家认证</a></li>
					<li><a class="a3" href="{:U('User/news')}">我的消息</a></li>
					<li><a class="a4" href="{:U('User/system')}">系统消息</a></li>
					<li class="li2">
						<p class="p1">客服热线</p>
						<p class="p2">0755-36631111</p>
					</li>
				</ul>
			</div>
			<div class="w970 fr">
				<div class="div1"><h2>个人信息</h2></div>
				<div class="div2">
                	<form action="{:U('User/personal')}" method="post">
                	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="personal_ta">
					  <tr>
					    <td class="td1">姓名：</td>
					    <td><input name="name" type="text" class="inp_ty" value="{$user_info.name}"></td>
					  </tr>
					  <tr>
					    <td class="td1">证件类型：</td>
					    <td>
						    <div class="nice-select" name="nice-select" style="width:170px; float:left">
								<input type="text" name="certificate_type"
								<if condition="$user_info.certificate_type  neq '' ">
								value="{$user_info.certificate_type}"
								<else />
								value="请选择证件类型"
								</if>
								readonly>
								<ul>
									<li data-value="0">驾驶证</li>
									<li data-value="1">身份证</li>
								</ul>
						</div>

						</td>
					  </tr>
					  <tr>
					    <td class="td1">证件号码：</td>
					    <td><input name="card_num" type="text" class="inp_ty" value="{$user_info.card_num}"></td>
					  </tr>
					  <tr>
					    <td class="td1">性别：</td>
					    <td>
						<label for="" style="margin:0 20px 0 10px"><input name="sex" type="radio" id="checkbox_a3" class="chk_1 inp_fx" <if condition="$user_info.sex eq '0' ">checked="true"</if> value="0" /><label for="checkbox_a3"></label>男</label>

        						<label for=""><input name="sex" type="radio" id="checkbox_a4" class="chk_1 inp_fx" <if condition="$user_info.sex eq '1' ">checked="true"</if> value="1" />
        						<label for="checkbox_a4"></label>女</label>
					    </td>
					  </tr>
					  <tr>
					    <td class="td1">手机号码：</td>
					    <td><input name="username" type="text" class="inp_ty" value="{$user_info.username}"></td>
					  </tr>
					  <tr>
					    <td class="td1">联系电话：</td>
					    <td><input name="phone" type="text" class="inp_ty" value="{$user_info.phone}"></td>
					  </tr>
					  <tr>
					    <td class="td1">Email：</td>
					    <td><input name="email" type="text" class="inp_ty" value="{$user_info.email}"></td>
					  </tr>
					  <tr>
					    <td class="td1">所在城市：</td>
					    <td><input name="the_city" type="text" class="inp_ty" value="{$user_info.the_city}"></td>
					  </tr>
					  <tr>
					    <td class="td1">联系地址：</td>
					    <td><input name="address" type="text" class="inp_ty" value="{$user_info.address}"></td>
					  </tr>
					  <tr>
					    <td align="right" class="td1">&nbsp;</td>
					    <td><input name="" type="submit" value="提交" class="sub_1" style="width:350px;"></td>
					  </tr>
					</table>
                    </form>
                </div>
                <div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
			<script>
				$('[name="nice-select"]').click(function(e){
				    $('[name="nice-select"]').find('ul').hide();
				    $(this).find('ul').show();
					e.stopPropagation();
				});
				$('[name="nice-select"] li').hover(function(e){
					$(this).toggleClass('on');
					e.stopPropagation();
				});
				$('[name="nice-select"] li').click(function(e){
					var val = $(this).text();
					$(this).parents('[name="nice-select"]').find('input').val(val);
					$('[name="nice-select"] ul').hide();
					e.stopPropagation();
				});
				$(document).click(function(){
					$('[name="nice-select"] ul').hide();
				});
			</script>
</block>