<extend name="Base/common" />
<block name="head">
      <meta charset="utf-8">
      <title>一哥车业</title>
      <meta name="keywords" content="wsg,hth">
      <meta name="description" content="ASW">
      <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="keywords" content="一哥车业">
      <Meta name="description" Content="一哥车业">
      <link href="__CSS__/css.css" rel="stylesheet" type="text/css">
      <link href="__CSS__/selectpick/cui.css" rel="stylesheet" type="text/css"><!--美化下拉框插件-->
      <script src="__JS__/jquery.js"></script><!-- 统一调用js -->
      <link href="__CSS__/banner-switch/lrtk.css" rel="stylesheet"><!-- banner切换 -->
      <script src="__JS__/banner-switch/jquery.superslide.2.1.1.js"></script><!-- banner切换 -->
      <link href="__CSS__/SuperSlide/style.css" rel="stylesheet"><!--标签切换，滚动 -->
      <link rel="stylesheet" href="__CSS__/Validform/style.css" type="text/css" media="all" /><!-- 13.0 表单提交验证 -->
      <link href="__CSS__/Validform/demo.css" type="text/css" rel="stylesheet" /><!-- 13.0 表单提交验证 -->
     <!--  <script type="text/javascript" src="css/Validform/js/Validform_v5.3.2_min.js"></script> --><!-- 13.0 表单提交验证 -->
      <script type="text/javascript" src="__CSS__/Validform/plugin/passwordStrength/passwordStrength-min.js"></script><!-- 13.0 表单提交验证 -->
      <link href="__CSS__/fxk.css" rel="stylesheet" type="text/css"><!-- 表单美化 -->
</block>

<block name="body">
	<div class="sign_center">
        <div class="w1200 personal_div">
            <div class="w200 fl">
                <ul>
                    <li class="li1">个人中心</li>
            <li><a class="a1" href="{:U('User/personal')}">个人信息</a></li>
                    <li><a class="a2" href="{:U('User/business')}">商家认证</a></li>
                    <li><a class="a3" href="{:U('User/news')}">我的消息</a></li>
                    <li class="li_dq"><a class="a4" href="{:U('User/system')}">系统消息</a></li>
                    <li class="li2">
                        <p class="p1">客服热线</p>
                        <p class="p2">0755-36631111</p>
                    </li>
                </ul>
            </div>
            <div class="w970 fr">
                <div class="div1"><h2>我的消息</h2></div>
                <div class="div2">
                    <form action="" method="post">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="user_news_ta">
                      <tr>
                        <th width="35%">信息标题</th>
                        <th width="35%">内容</th>
                        <th width="14%">发布时间</th>
                        <th width="8%"></th>
                        <th width="8%"></th>
                      </tr>
                      <volist name="data" id="vo">
                      <tr>
                        <td class="td1"><p> <if condition="$vo['status'] eq 1">求购<else />出售</if>{$vo.title}</p></td>
                        <td class="td1"><p>{$vo.description}</p></td>
                        <td class="td1">{$vo.add_time|date='Y-m-d',###}</td>
                        <td class="td2"><a href="user_newsxx_chus.php">查看详情</a></td>
                        <td class="td2"><a href="" class="a_del">删除</a></td>
                      </tr>
                    </volist>

                    </table>
                    <div class="blank30"></div>

                    </form>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</block>