<extend name="Base/common"/>
<block name="head">

<link href="__CSS__/css.css" rel="stylesheet" type="text/css">
<link href="__CSS__/selectpick/cui.css" rel="stylesheet" type="text/css"><!--美化下拉框插件-->
<script src="__JS__/jquery.js"></script><!-- 统一调用js -->
<link href="__CSS__/banner-switch/lrtk.css" rel="stylesheet"><!-- banner切换 -->
<script src="__JS__/banner-switch/jquery.superslide.2.1.1.js"></script><!-- banner切换 -->
<link href="__CSS__/SuperSlide/style.css" rel="stylesheet"><!--标签切换，滚动 -->
<script type="text/javascript" src="__JS__/script.js"></script><!-- 筛选 -->
<link rel="stylesheet" type="text/css" href="__CSS__/select.css"><!-- 筛选 -->
</block>

<block name="body">
<div class="brand lujin_div">
	<div class="w1200 brand_div">
		<div class="lujin">
			<ul>
				<li><a href="purchase.php">二手车求购</a></li>
				<li><i>></i></li>
				<li>求购详情页</li>
				<li class="li1"><a href="{:U('Buy/add')}">免费发布信息</a></li>
			</ul>
			<div class="clear"></div>
		</div>		
	</div>
</div>
<div class="blank35"></div>
<div class="w1200 purchase_xx">
	<div class="w850">
		<div class="div1">
			<h2>求购 {$buylinfo.brand} {$buylinfo.carage} {$buylinfo.price}</h2>
			<p>发布时间：{$buylinfo.add_time}</p>
		</div>
		<div class="div2">
			<ul>
				<li>类型：<br><span>{$buylinfo.type}</span></li>
				<li>品牌：<br><span>{$buylinfo.brand}</span></li>
				<li>变速箱：<br><span>{$buylinfo.gearbox}</span></li>
				<li>车龄：<br><span>{$buylinfo.carage}</span></li>
				<li>里程：<br><span>{$buylinfo.driven}</span></li>
				<li>价格：<br><span>{$buylinfo.price}</span></li>
				<li>是否保养：<br><span>{$buylinfo.maintenance}</span></li>
				<li>车辆颜色：<br><span>{$buylinfo.colour}</span></li>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="div3">
			<ul>
				<li>联系人：<br><span>{$buylinfo.contacts}</span></li>
				<li>手机号：<br><span class="span1">{$buylinfo.contactnumber}</span></li>
				<li>求购来源：<br><span>个人</span></li>
				<li>车辆所在地：<br><span>{$buylinfo.address}</span></li>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="div4">
			<h2>补充说明</h2>
			<p>{$buylinfo.description}</p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="w260">
		<h2 class="h2_title">类似的求购信息 <a href="">More+</a></h2>
		<ul>
			<volist name="buytypelist" id="val">
			<li>
				<a href="{:U('Buy/details',array('id'=>$val['id']))}">
					<h2>个人求购 {$val.carage} {$val.brand}{$val.type}</h2>
					<p>{$val.price}</p>
				</a>
			</li>
			</volist>
		</ul>
		
	</div>
	<div class="clear"></div>
</div>

<div class="blank40"></div>
</block>