<extend name="Public/base"/>

<block name="body">
<style type="text/css">
    img{
        width: 120px;
        height:120px;
    }
</style>
    <div class="main-title">
        <h2>列表 [ <present name="Think.get.group">
         <a href="{:U('index')}">全部</a><else/><strong>全部</strong></present>&nbsp;<foreach name="group" item="vo">
        <neq name="group_id" value="$key">
         <a href="{:U('index?group='.$key)}">{$vo}</a><else/><strong>{$vo}</strong></neq>&nbsp;
        </foreach> ]</h2>
    </div>

    <div class="cf">
        <a style="display:none;" class="btn" href="{:U('Goods/kadd')}">新 增</a>
    <!--    <button class="btn " url="{:U('Goods/del_goods')}" target-form="ids">删 除</button> -->
    <button class="btn ajax-post confirm" target-form="ids"  onclick="checks();">删 除</button>
        <!-- <button class="btn list_sort" url="{:U('sort?group='.I('group'),'','')}">排序</button> -->

        <!-- 高级搜索 -->

        <div class="search-form fr cf">
        <form action="{:U('Buy/index')}" method="post" name="sousuo">
            <div class="sleft">
                <input type="text" name="k" class="search-input" value="{$k}" placeholder="请输入关键词">
                <a class="sch-btn" href="javascript:document.sousuo.submit();" id="search"><i class="btn-search"></i></a>
            </div>
            </form>
        </div>
    </div>
<form action="{:U('Buy/del_all')}" method="post" name="tijiao"">
    <div class="data-table table-striped">
        <table>
            <thead>
                <tr>
                    <th class="row-selected">
                        <input class="checkbox check-all" type="checkbox">
                    </th>
                    <th>ID</th>
                    <th>品牌</th>
                    <th>类型</th>
                    <th>变速</th>
                    <th>车龄</th>
                    <th>里程</th>
                    <th>价格</th>
                    <th>颜色</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <notempty name="buylist">
                <volist name="buylist" id="goods">
                    <tr>
                <td><input class="ids" type="checkbox" name="id[]" value="{$goods.id}"></td>

                        <td>{$goods.id}</td>
                        <td>{$goods.type}</td>
                        <td>{$goods.brand}</td>
                        <td>{$goods.gearbox}</td>
                        <td>{$goods.carage}</td>
                        <td>{$goods.driven}</td>
                        <td>{$goods.price}</td>
                        <td>{$goods.colour}</td>
                        <td>{$goods.add_time}</td>
                        </td>
                        <td>
                            <!-- <a title="详情" href="{:U('xiangc?id='.$goods['id'])}">详情图片</a>| --><a title="编辑" href="{:U('Buy/edit',array('id'=>$goods['id']))}">编辑</a>
                            <eq name="goods.status" value="1">
                            <a style="display:none;" href="" class="ajax-get">禁用</a>
                            <else/>
                            <a style="display:none;" href="" class="ajax-get">启用</a>
                            </eq>
                            <a class="confirm ajax-get" title="删除" href="{:U('Buy/del_one',array('id'=>$goods['id']))}">删除</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
                </notempty>
            </tbody>
        </table>
        </form>
        <!-- 分页 -->
        <div class="page">
            {$_page}
        </div>
    </div>
</block>

<block name="script">
<script type="text/javascript">
$(function(){
    //搜索功能
    $("#search").click(function(){
        var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        window.location.href = url;
    });
    //回车搜索
    $(".search-input").keyup(function(e){
        if(e.keyCode === 13){
            $("#search").click();
            return false;
        }
    });
    //点击排序
    $('.list_sort').click(function(){
        var url = $(this).attr('url');
        var ids = $('.ids:checked');
        var param = '';
        if(ids.length > 0){
            var str = new Array();
            ids.each(function(){
                str.push($(this).val());
            });
            param = str.join(',');
        }

        if(url != undefined && url != ''){
            window.location.href = url + '/ids/' + param;
        }
    });
});


function checks(){

  var checkbox = $(".ids");//
  //alert(checkbox.checked);//是否被选中
  var msg = '';
      for (var i = 0; i < checkbox.length; i++) {
          
          if(checkbox[i].checked){
                msg += '选择成功\n';
          }  
      }
    if(msg.length > 0){
        document.tijiao.submit();
    }else{
        alert('请选择要删除的内容！');
    }
}
</script>
</block>