<extend name="Base/common"/>
<block name="head">
<meta charset="utf-8">
<title>一哥车业</title>
<meta name="keywords" content="wsg,hth">
<meta name="description" content="ASW">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="一哥车业">
<Meta name="description" Content="一哥车业">
<link href="__CSS__/css.css" rel="stylesheet" type="text/css">
<link href="__CSS__/selectpick/cui.css" rel="stylesheet" type="text/css"><!--美化下拉框插件-->
<script src="__JS__/jquery.js"></script><!-- 统一调用js -->
<link href="__CSS__/banner-switch/lrtk.css" rel="stylesheet"><!-- banner切换 -->
<script src="__JS__/banner-switch/jquery.superslide.2.1.1.js"></script><!-- banner切换 -->
<link href="__CSS__/SuperSlide/style.css" rel="stylesheet"><!--标签切换，滚动 -->
<script type="text/javascript" src="__JS__/script.js"></script><!-- 筛选 -->
<link rel="stylesheet" type="text/css" href="__CSS__/select.css"><!-- 筛选 -->
</block>

<block name="body">
<div class="brand lujin_div">
	<div class="w1200 brand_div">
		<div class="lujin">
			<ul>
				<li>联系我们</li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="blank45"></div>
<div class="w1200 contact_div">
	<div class="con_w590 fl">
		<iframe src="cyh_ft.php" width="100%" height="530" frameborder="0" scrolling="no" style="border:0;" name="iframe_1"></iframe>
		<!-- http://api.map.baidu.com/lbsapi/creatmap/index.html 代码来源 尺寸建议580*525-->
	</div>
	<div class="con_w545 fr">
		<h2 class="h2_title">深圳市车缘汇二手车交易有限公司</h2>
		<p class="p1">联系电话：13444834999 / 13043467666</p>
		<p class="p1">公司地址：福田区梅林阁和龙华梅龙路和罗湖八卦岭附近</p>
		<p class="p2">工作地点</p>
		<ul>
			<li>
				<a href="cyh_ft.php" target="iframe_1">
					<div class="div1">
						<p><i><</i>查看</p>
					</div>
					<div class="div2">
						<p>福田区地址：梅林路58号梅林阁对面-273二手车</p>
						<p>联系电话：13444834999 / 13043467666</p>
					</div>
					<div class="clear"></div>
				</a>
			</li>
			<li>
				<a href="cyh_lh.php" target="iframe_1">
					<div class="div1">
						<p><i><</i>查看</p>
					</div>
					<div class="div2">
						<p>龙华新区地址：梅龙路1073号锦锈江南4期人人乐隔壁-273梅龙服务中心</p>
						<p>联系电话：13444834999 / 13043467666</p>
					</div>
					<div class="clear"></div>
				</a>
			</li>
			<li>
				<a href="cyh_hz.php" target="iframe_1">
					<div class="div1">
						<p><i><</i>查看</p>
					</div>
					<div class="div2">
						<p>惠州市地址：惠城区东平荷兰水乡巧克力大厦118号淘车帮二手车</p>
						<p>联系电话：13444834999 / 13043467666</p>
					</div>
					<div class="clear"></div>
				</a>
			</li>
			<li>
				<a href="cyh_ft.php" target="iframe_1">
					<div class="div1">
						<p><i><</i>查看</p>
					</div>
					<div class="div2">
						<p>福田区地址：梅林路58号梅林阁对面-273二手车</p>
						<p>联系电话：13444834999 / 13043467666</p>
					</div>
					<div class="clear"></div>
				</a>
			</li>
		</ul>

	</div>
	<div class="clear"></div>
</div>
<div class="blank40"></div>
</block>