<extend name="Base/common"/>
<block name="head">
<meta charset="utf-8">
<title>一哥车业</title>
<meta name="keywords" content="wsg,hth">
<meta name="description" content="ASW">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="一哥车业">
<Meta name="description" Content="一哥车业">
<link href="__CSS__/css.css" rel="stylesheet" type="text/css">
<link href="__CSS__/selectpick/cui.css" rel="stylesheet" type="text/css"><!--美化下拉框插件-->
<script src="__JS__/jquery.js"></script><!-- 统一调用js -->
<link href="__CSS__/banner-switch/lrtk.css" rel="stylesheet"><!-- banner切换 -->
<script src="__JS__/banner-switch/jquery.superslide.2.1.1.js"></script><!-- banner切换 -->
<link href="__CSS__/SuperSlide/style.css" rel="stylesheet"><!--标签切换，滚动 -->
<script type="text/javascript" src="__JS__/script.js"></script><!-- 筛选 -->
</block>

<block name="body">
<div class="brand lujin_div">
	<div class="w1200 brand_div">
		<div class="lujin">
			<ul>
				<li>关于我们</li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="blank20"></div>
<div class="w1200 about_div">
	<div class="div1"><img src="__IMG__/banner1.jpg" width="100%" alt=""></div>
	<div class="div2">
		<h2 class="h2_title">{$info.title_new}</h2>
		{$info.content}

	</div>
</div>
<div class="blank40"></div>
</block>