

<extend name="Base/common"/>


<block name="head">
<link href="__CSS__/css.css" rel="stylesheet" type="text/css">
<link href="__CSS__/selectpick/cui.css" rel="stylesheet" type="text/css"><!--美化下拉框插件-->
<script src="__JS__/jquery.js"></script><!-- 统一调用js -->
<link href="__CSS__/magnifier.css" rel="stylesheet" type="text/css"><!-- 放大镜特效 -->
<script src="__JS__/magnifier.js"></script><!-- 放大镜特效 -->
<script src="__JS__/banner-switch/jquery.superslide.2.1.1.js"></script><!-- banner切换 -->
<link href="__CSS__/SuperSlide/style.css" rel="stylesheet"><!--标签切换，滚动 -->
</block>
<block name="body">
<div class="brand lujin_div">
	<div class="w1200 brand_div">
		<div class="lujin">
			<ul>
				<li>二手车出售</li>
				<li><i>></i></li>
				<li><a href="javascript:;">{$sellinfo.brand}</a></li>
				<li><i>></i></li>
				<li><a href="javascript:;">{$sellinfo.brand}{$sellinfo.brand_model_title}</a></li>
				<li class="li1"><a href="{:U('Sell/add')}">免费发布信息</a></li>
			</ul>
			<div class="clear"></div>
		</div>		
	</div>
</div>
<div class="blank30"></div>
<div class="w1200">
	<div class="sell_details_fl">
		<div id="MagnifierWrap2">
			<div class="MagnifierMain"><!-- 图片尺寸 600*450 -->
			<volist name="imglist" id="imgval">
				<if condition='$key == 0'>
				<img class="MagTargetImg" src="Uploads/sellimg/{$imgval.imgurl}"> 
				</if>
			</volist>
			</div>
			<span class="spe_leftBtn">&lt;</span>
			<span class="spe_rightBtn on">&gt;</span>
			<div class="spec-items"> 
				<ul>
				<volist name="imglist" id="imgval">
					<li <if condition='$key == 0'>class="on" </if>><img src="Uploads/sellimg/{$imgval.imgurl}"></li>
				</volist>
					
				</ul>
			</div>
		</div>	
	</div>
	<div class="sell_details_fr">
		<h2>{$sellinfo.brand} {$sellinfo.year_id}款 {$sellinfo.displacement_id} {$sellinfo.gearbox} {$sellinfo.level}</h2>
		<div class="div1">
			<div class="fl div1_1">￥{$sellinfo.sfer_price}万</div>
			<div class="fl div1_2">
				<p>为您节省0万</p>
				<p>新车价：{$sellinfo.new_price}万+0万（购置税）</p>
			</div>
			<div class="clear"></div>
		</div>
		<div class="div2">
			<div class="div2_1 div2_11">
				<p class="p1">{$sellinfo.driven}万公里</p>
				<p class="p2">行驶里程</p>
			</div>
			<div class="div2_1 div2_12">
				<p class="p1">{$sellinfo.years}</p>
				<p class="p2">首次上牌</p>
			</div>
			<div class="div2_1 div2_13">
				<p class="p1">{$sellinfo.displacement_id}/{$sellinfo.gearbox}</p>
				<p class="p2">排量／变速箱</p>
			</div>
			<div class="clear"></div>			
		</div>
		<div class="div3">
			<span></span>{$sellinfo.contact_number}
			<div class="clear"></div>
		</div>
		<div class="div4">
			<p>商家： {$sellinfo.contacts}</p>
			<p>看车地址： {$sellinfo.address}</p>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="blank35"></div>
<div class="w1200">
	<div class="w900 fl slide_box">
		<div class="hd sell_cy">
			<ul class="ul_1"><li>车辆信息</li><!-- <li>车源图片</li> --></ul>
			<div class="clear"></div>
		</div>
		<div class="blank20"></div>
		<div class="bd">
			<div>
				<div class="sell_cy1" style="border-bottom:1px solid #ddd">
					<h2>基本信息</h2>
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="sell_ta">
					  <tr>
					    <td><p>上牌时间：{$sellinfo.years}</p></td>
					    <td><p>行驶里程：{$sellinfo.driven}万公里</p></td>
					    <td><p>车辆颜色：{$sellinfo.colour}</p></td>
					    <td><p>交强险到期：{$sellinfo.insurance_endtime}</p></td>
					  </tr>
					  <tr>
					    <td><p>维修保养：4S店维修保养 </p></td>
					    <td><p>年检到期：{$sellinfo.inspection_endtime}</p></td>
					    <td><p>商业险到期：{$sellinfo.business_endtime}</p></td>
					    <td>&nbsp;</td>
					  </tr>
					</table>
				</div>
				<div class="sell_cy1">
					<h2>配置信息</h2>
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="sell_ta">
					  <tr>
					    <td><p>排量： {$sellinfo.displacement_id} </p></td>
					    <td><p>长宽高： 4878*1925*1734</p></td>
					    <td><p>驱动方式： 前置前驱</p></td>
					    <td><p>变速箱： {$sellinfo.gearbox}  </p></td>
					  </tr>
					  <tr>
					    <td colspan="4">
					    	<p>车辆描述</p>
					    	<p>{$sellinfo.description}</p>
					    </td>
				      </tr>
					</table>

				</div>				
			</div>
			<!-- <div>
				
			</div> -->
		</div>
		<script type="text/javascript">jQuery(".slide_box").slide({trigger:"click"});</script>
		<div class="clear"></div>
		<div class="rmtj">
			<h2 class="h2_title">同品牌推荐</h2>
			<div class="blank30"></div>
			<ul class="hot_ul product_ul">
			<volist name="sellbrandlist" id="val">
				<li>
					<a href="{:U('Sell/details',array('id'=>$val['id']))}">
						<img src="Uploads/sellimg/{$val.imgurl}" />
						<span class="span_poa">新</span>
						<div class="li_product">
							<h2>{$val.brand} {$val.year_id}款 {$val.brand_model_title} {$val.displacement_id} {$val.gearbox} {$val.level}</h2>
						<p class="p1">{$val.years}上牌 | 行驶{$val.driven}万公里</p>
						<p class="p2"><b>{$val.sfer_price}万</b> <em>{$val.new_price}万</em><i>{$val.status}</i></p>
						</div>
					</a>
				</li>
				</volist>


			</ul>
			<div class="clear"></div>
		</div>
	</div>
	<div class="w245 fr">
		<h2 class="h2_title">热门二手车推荐</h2>
		<div class="blank20"></div>
		<ul class="hot_ul product_ul">
			<volist name="sellbrandlist" id="val">
			<li>
				<a href="{:U('Sell/details',array('id'=>$val['id']))}">
					<img src="Uploads/sellimg/{$val.imgurl}" />
					<span class="span_poa">新</span>
					<div class="li_product">
						<h2>{$val.brand} {$val.year_id}款 {$val.brand_model_title} {$val.displacement_id} {$val.gearbox} {$val.level}</h2>
						<p class="p1">{$val.years}上牌 | 行驶{$val.driven}万公里</p>
						<p class="p2"><b>{$val.sfer_price}万</b> <em>{$val.new_price}万</em><i>{$val.status}</i></p>
					</div>
				</a>
			</li>
			</volist>
			
		</ul>
		<div class="clear"></div>		
	</div>
	



	<div class="clear"></div>
</div>






































<div class="blank40"></div>
</block>