<extend name="Base/common"/>

<block name="body">
  <div class="bannerbox1">
    <ul class="bannerpic1"><!--1920*425-->
    <volist name="img" id="vv">
        <li style="background: url({$vv.cover_id|get_cover=###,path}) 50% 50% no-repeat; position: absolute; width: 100%; left: 0px; top: 0px; display: list-item;"><a href="{$vv.links}"></a></li>
    </volist>
    </ul>
    <a class="prev" href="javascript:void(0)"></a>
    <a class="next" href="javascript:void(0)"></a>
    <div class="num" style="display:none">
        <ul></ul>
    </div>
    <div class="ksmc" style="display:none;">
        <h2>快速卖车<span>已有<em>293460</em>人成功卖车</span></h2>
        <form action="" method="post">
            <input class="inp_2" type="text" name="" placeholder="请输入您的手机号">
            <input class="inp_mc" name="" type="submit" value="我要卖车">
        </form>
    </div>
</div>
<script>
    $(".bannerbox1").hover(function(){
        $(this).find(".prev,.next").fadeTo("show",0.1);
    },function(){
        $(this).find(".prev,.next").hide();
    })
    $(".prev,.next").hover(function(){
        $(this).fadeTo("show",0.7);
    },function(){
        $(this).fadeTo("show",0.1);
    })
    $(".bannerbox1").slide({titCell:".num ul",mainCell:".bannerpic1",effect:"fold",autoPlay:true,delayTime:700,autoPage:true,trigger:"click"});
</script>
<!--banner end-->
<div class="brand">
    <div class="w1200 brand_div">
        <h2 class="h2_title">热门品牌</h2>
        <div class="div_sx">
            <a href="javascript:;" onclick="brand_k('a',this);">A</a>
            <a href="javascript:;" onclick="brand_k('b',this);">B</a>
            <a href="javascript:;" onclick="brand_k('c',this);">C</a>
            <a href="javascript:;" onclick="brand_k('d',this);">D</a>
            <a href="javascript:;" onclick="brand_k('e',this);">E</a>
            <a href="javascript:;" onclick="brand_k('f',this);">F</a>
            <a href="javascript:;" onclick="brand_k('g',this);">G</a>
            <a href="javascript:;" onclick="brand_k('h',this);">H</a>
            <a href="javascript:;" onclick="brand_k('i',this);">I</a>
            <a href="javascript:;" onclick="brand_k('j',this);">J</a>
            <a href="javascript:;" onclick="brand_k('k',this);">K</a>
            <a href="javascript:;" onclick="brand_k('l',this);">L</a>
            <a href="javascript:;" onclick="brand_k('m',this);">M</a>
            <a href="javascript:;" onclick="brand_k('n',this);">N</a>
            <a href="javascript:;" onclick="brand_k('o',this);">O</a>
            <a href="javascript:;" onclick="brand_k('p',this);">P</a>
            <a href="javascript:;" onclick="brand_k('q',this);">Q</a>
            <a href="javascript:;" onclick="brand_k('r',this);">R</a>
            <a href="javascript:;" onclick="brand_k('s',this);">S</a>
            <a href="javascript:;" onclick="brand_k('t',this);">T</a>
            <a href="javascript:;" onclick="brand_k('u',this);">U</a>
            <a href="javascript:;" onclick="brand_k('v',this);">V</a>
            <a href="javascript:;" onclick="brand_k('w',this);">W</a>
            <a href="javascript:;" onclick="brand_k('x',this);">X</a>
            <a href="javascript:;" onclick="brand_k('y',this);">Y</a>
            <a href="javascript:;" onclick="brand_k('z',this);">Z</a>
        </div>
        <script type="text/javascript">
            function brand_k(k,obj){
                $(obj).siblings().css('color','#444');
                $(obj).css('color','blue');

                $.ajax({
                     type: "POST",
                     url: "{:U('Index/brand_k')}",
                     data: {brand_k:k},
                     dataType: "json",
                     success: function(data){
                        var res = data.brandlist;
                        var str = '';
                         for (var i = 0; i < res.length; i++) {
                            str += '<li><a style="color:#444;" href="'+res[i].url+'"><img src="'+res[i].icon+'" alt="'+res[i].title+'"><p>'+res[i].title+'</p></a></li>';
                         }
                         $('.brandlist').html(str);  
                    }
                });
            }
        </script>
    </div>
</div>
<div class="brand1">
    <div class="w1200">
        <div class="bra_cx1">
            <ul class="brandlist">
                <volist name="brandlist" id="val">
                    <li><a style="color:#444;" href="{:U('Sell/index',array('brand_id'=>$val['id']))}"><img src="{$val.icon|get_cover=###,path}" alt="{$val.title}"><p>{$val.title}</p></a></li>
                </volist>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="bra_cx2">
            <ul>
                <volist name="lists" id="val">
            <if condition="$val.category_id eq '42' ">

                <li><a href="{:U('Sell/index',array('price_id'=>$val['id']))}">{$val.title}</a></li>

                </if>
                </volist>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="bra_cx3">
            <ul>
            <volist name="lists" id="val">
            <if condition="$val.category_id eq '40' ">
                <li><a href="{:U('Sell/index',array('type_id'=>$val['id']))}"><img src="{$val.cover_id|get_cover=###,path}" alt=""><p>{$val.title}</p></a></li>
            </if>
                </volist>

            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="recommend">
    <div class="w1200">
        <h2 class="h2_title">热门推荐</h2>
        <div class="blank20"></div>
            <!--切换-->
            <div class="scrollBox" style="margin:0 auto">
            <div class="ohbox">
                    <ul class="piclist hot_ul">
                    <volist name="selllist" id="val">
                        <li>
                        <a href="{:U('Sell/details',array('id'=>$val['id']))}">
                            <img src="Uploads/sellimg/{$val.imgurl}" />
                            <span class="span_poa">新</span>
                            <div class="li_product">
                                <h2>{$val.brand}{$val.brand_model} {$val.year_id}款  {$val.displacement_id} {$val.gearbox} {$val.level}</h2>
                                <p class="p1">{$val.years}上牌 | 行驶{$val.driven}万公里</p>
                                <p class="p2"><b>{$val.sfer_price}万</b> <em>{$val.new_price}万</em><i>{$val.status}</i></p>
                            </div>
                        </a>
                        </li>
                        </volist>

                    </ul>
            </div>
            <div class="pageBtn">
                <span class="prev">&lt;</span>
                <span class="next">&gt;</span>
                <ul class="list" style="display:none"><li>0</li><li>1</li></ul>
            </div>
    </div>
    <script type="text/javascript">
        jQuery(".scrollBox").slide({ titCell:".list li", mainCell:".piclist", effect:"left",vis:4,scroll:4,delayTime:800,trigger:"click",easing:"easeOutCirc"});
    </script>

    </div>
</div>

<div class="slide_box hot_div w1200">
    <div class="hd hot_sx">
        <h2 class="h2_title">热门好车</h2>
        <ul class="ul_1"><li>最新车源</li><li>最热车源</li></ul>
    </div>
    <div class="blank30"></div>
    <div class="bd">
        <div>
            <ul class="hot_ul product_ul">
                <volist name="selllist_new" id="val">
                <li>
                    <a href="{:U('Sell/details',array('id'=>$val['id']))}">
                        <img src="Uploads/sellimg/{$val.imgurl}" />
                        <span class="span_poa">新</span>
                        <div class="li_product">
                            <h2>{$val.brand}{$val.brand_model} {$val.year_id}款  {$val.displacement_id} {$val.gearbox} {$val.level}</h2>
                            <p class="p1">{$val.years}上牌 | 行驶{$val.driven}万公里</p>
                            <p class="p2"><b>{$val.sfer_price}万</b> <em>{$val.new_price}万</em><i>{$val.status}</i></p>
                        </div>
                    </a>
                </li>
                </volist>





            </ul>
            <div class="clear"></div>
            <div class="div_anv"><a href="{:U('Sell/index')}">查看更多</a></div>
        </div>
        <div>
            <ul class="hot_ul product_ul">

                <volist name="selllist_hot" id="val">
                <li>
                    <a href="{:U('Sell/details',array('id'=>$val['id']))}">
                        <img src="Uploads/sellimg/{$val.imgurl}" />
                        <span class="span_poa">新</span>
                        <div class="li_product">
                            <h2>{$val.brand}{$val.brand_model} {$val.year_id}款  {$val.displacement_id} {$val.gearbox} {$val.level}</h2>
                            <p class="p1">{$val.years}上牌 | 行驶{$val.driven}万公里</p>
                            <p class="p2"><b>{$val.sfer_price}万</b> <em>{$val.new_price}万</em><i>{$val.status}</i></p>
                        </div>
                    </a>
                </li>
                </volist>

            </ul>
            <div class="clear"></div>
            <div class="div_anv"><a href="{:U('Sell/index')}">查看更多</a></div>
        </div>
    </div>
</div>
<script type="text/javascript">jQuery(".slide_box").slide({trigger:"click"});</script>
<div class="blank45"></div>
<div class="w1200 article">
    <div class="article_fl">
        <div class="redian_article">
            <span class="span_poa"><img src="__IMG__/biaot_1.jpg" alt=""></span>
            <volist name="document_article" id="val">
            <if condition="$val.is_hot eq 1">
            <div class="div1"><img src="{$val.exhibition_img|get_cover=###,path}" alt="{$val.title_new}"></div>
            </if>
            </volist>
            <div class="div2">
                <ul>
                <volist name="document_article" id="val">
                    <li><a href="{:U('News/detail?id='.$val['id'])}">{$val.title_new}</a></li>
                </volist>
                </ul>
            </div>
        </div>
    </div>
    <div class="article_fr">
        <a href=""><div class="selected_div">
            <span class="span_poa"><img src="__IMG__/biaot_2.jpg" alt=""></span>
            <volist name="document_article" id="val">
            <if condition="$val.is_wen eq 1">
                <div class="div1 fl"><img src="{$val.exhibition_img|get_cover=###,path}" alt="{$val.title_new}"></div>
                <div class="div2 fr">
                    <h2>{$val.title_new}</h2>
                    <p>{$val.new_description}</p>
                </div>

            
            </if>
            </volist>
            <div class="clear"></div>
        </div></a>
        <div class="blank45"></div>
        <a href=""><div class="selected_div">
            <span class="span_poa"><img src="__IMG__/biaot_3.jpg" alt=""></span>

            <volist name="document_article" id="val">
            <if condition="$val.is_selected eq 1">
 
                <div class="div1 fl"><img src="{$val.exhibition_img|get_cover=###,path}" alt="{$val.title_new}"></div>
                <div class="div2 fr">
                    <h2>{$val.title_new}</h2>
                    <p>{$val.new_description}</p>
                </div>

            
            </if>
            </volist>
            <div class="clear"></div>
        </div></a>
    </div>
    <div class="clear"></div>
</div>
<div class="blank40"></div>
</block>