<extend name="Base/common"/>
<block name="head">
<meta charset="utf-8">
<title>一哥车业</title>
<meta name="keywords" content="wsg,hth">
<meta name="description" content="ASW">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="一哥车业">
<Meta name="description" Content="一哥车业">
<link href="__CSS__/css.css" rel="stylesheet" type="text/css">
<link href="__CSS__/selectpick/cui.css" rel="stylesheet" type="text/css"><!--美化下拉框插件-->
<script src="__JS__/jquery.js"></script><!-- 统一调用js -->
<link href="__CSS__/banner-switch/lrtk.css" rel="stylesheet"><!-- banner切换 -->
<script src="__JS__/banner-switch/jquery.superslide.2.1.1.js"></script><!-- banner切换 -->
<link href="__CSS__/SuperSlide/style.css" rel="stylesheet"><!--标签切换，滚动 -->
<script type="text/javascript" src="__JS__/script.js"></script><!-- 筛选 -->
<link rel="stylesheet" type="text/css" href="__CSS__/select.css"><!-- 筛选 -->
</block>
<block name="body">
<div class="brand lujin_div">
	<div class="w1200 brand_div">
		<div class="lujin">
			<ul>
				<li><a href="">新闻资讯</a></li>
				<li><i>></i></li>
				<li>新闻详情页</li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="blank35"></div>
<div class="w1200 purchase_xx newsxx_div1">
	<div class="w850">
		<div class="div1">
			<h2>{$info.title}</h2>
			<p><span>发布时间：{$info.create_time|date='Y-m-d H:i',###} </span><span>来源：一哥车业</span></p>
		</div>
		<div class="new_text">
		{$info.content}
		</div>
		<div class="clear"></div>
	</div>
	<div class="w300">
		<h2 class="h2_title">热门推荐 <a href="">More+</a></h2>
		<div class="blank20"></div>
		<ul class="hot_ul product_ul">
			<li>
				<a href="">
					<img src="__IMG__/1.jpg" />
					<span class="span_poa">新</span>
					<div class="li_product">
						<h2>大众宝来 2013款 宝来 1.6 自动 舒适版</h2>
						<p class="p1">2013年7月上牌 | 行驶11.7万公里</p>
						<p class="p2"><b>7.00万</b> <em>13.90万</em><i>认证</i></p>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<img src="__IMG__/2.jpg" />
					<span class="span_poa">新</span>
					<div class="li_product">
						<h2>大众宝来 2013款 宝来 1.6 自动 舒适版</h2>
						<p class="p1">2013年7月上牌 | 行驶11.7万公里</p>
						<p class="p2"><b>7.00万</b> <em>13.90万</em><i>认证</i></p>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<img src="__IMG__/3.jpg" />
					<span class="span_poa">新</span>
					<div class="li_product">
						<h2>大众宝来 2013款 宝来 1.6 自动 舒适版</h2>
						<p class="p1">2013年7月上牌 | 行驶11.7万公里</p>
						<p class="p2"><b>7.00万</b> <em>13.90万</em><i>认证</i></p>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<img src="__IMG__/4.jpg" />
					<span class="span_poa">新</span>
					<div class="li_product">
						<h2>大众宝来 2013款 宝来 1.6 自动 舒适版</h2>
						<p class="p1">2013年7月上牌 | 行驶11.7万公里</p>
						<p class="p2"><b>7.00万</b> <em>13.90万</em><i>认证</i></p>
					</div>
				</a>
			</li>
		</ul>
		<div class="clear"></div>


	</div>
	<div class="clear"></div>
</div>

<div class="blank40"></div>
</block>